<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframwork.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- This is our beans -->
    
    
    <bean class = "com.Springcore.CollegeStudent" name = "CollegeStudent1" p:studentId = "24234" p:studentName = "Ram Singh" p:studentAddress="Delhi"/>
    
    
    <!-- Second bean -->
    
    <bean class = "com.Springcore.CollegeStudent" name = "CollegeStudent2" p:studentId = "32123" p:studentName = "Lakhan Singh" p:studentAddress = "Lucknow" />
  	
    
    
</beans>