<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	 xmlns:util = "http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd 
     http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd   
        http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd
    ">

<bean id = "student" class = "com.model.Student"></bean>
	
	
	
	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		id="ds">

		<property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/springjdbcmvc" />
		<property name="username" value="root" />
		<property name="password" value="root" />

	</bean>
		
	
	
	
	<bean id = "jt" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name = "dataSource" ref = "ds"></property>
		
	</bean>
	
	
 <bean id = "studentDao" class = "com.dao.StudentDAO">
 	<property name = "jdbc" ref = "jt"></property>
 
 </bean>




</beans>

